<!-- Head -->
	<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				<!-- Banner -->
					<h2 id="elements">As Author</h2>
					<div class="row gtr-200">
						<div class="col-6 col-12-small">
							<a href="/papers/submit" class="button primary large">Submit A Paper</a>
						</div>
						<div class="col-6 col-12-small">
							<h2 class="right-small-fade">Branding</h2>
						</div>
					</div>
					<hr class="major" />
				<!-- Documents in Progress -->
					<h4>In Progress</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Manuscript Number</th>
									<th>Status</th>
									<th>Document</th>
									<th>Date Submitted</th>
									<th>Review Accepted</th>
									<th>Reviewer ID#</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<papers.length; i++) {%>
									<tr>
										<td><%= papers[i].manuscriptNumber %></td>
										<td><%= papers[i].status %></td>
										<td><a href="<%= papers[i].document %>">Document</a></td>
										<td><%= papers[i].createdAt.toLocaleDateString('en-us') %></td>
										<td><%= papers[i].reviewAccepted ? papers[i].reviewAccepted.toLocaleDateString('en-us') : '' %></td>
										<td><%= papers[i].reviewerID ? papers[i].reviewerID : '' %></td>
									</tr>
									<% } %>
							</tbody>
						</table>
					</div>
				<!-- Life Time Stats -->
					<h4>Lifetime Stats</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Paper Submitted</th>
									<th>Reviews Received</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= submitted %></td>
									<td><%= reviews %></td>
								</tr>
							</tbody>
						</table>
					</div>
				<!-- Completed Reviews -->
					<h4>Completed Reviews</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Manuscript Number</th>
									<th>Article Title</th>
									<th>Article Type</th>
									<th>Submitted</th>
									<th>Reviewed</th>
									<th>Time of Review</th>
									<th>Review</th>
									<th>Reviewer ID#</th>
									<th>Reviewer's Rating</th>
									<th>Author Rates Review</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1749-084</td>
									<td>Testing Layouts in Mobile and Desktop</td>
									<td>Original</td>
									<td>10/20/22</td>
									<td>10/22/22</td>
									<td>2 days</td>
									<td>Link to Review</td>
									<td>1003</td>
									<td>4.3</td>
									<td>4.2</td>
								</tr>
								<tr>
									<td>1748-544</td>
									<td>Philosophical Musings on website deisgn</td>
									<td>Original</td>
									<td>10/19/22</td>
									<td>10/22/22</td>
									<td>3 days</td>
									<td>Link to Review</td>
									<td>1005</td>
									<td>4.5</td>
									<td>5.0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
