<!-- Head -->
	<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				<!-- Banner -->
					<h2 id="elements" class="centerElement">As Author</h2>
					<div class="row gtr-200">
						<div class="col-6 col-12-small">
							<a href="/papers/submit" class="button primary large">Submit A Paper</a>
						</div>
						<div class="col-6 col-12-small">
							<h2 class="right-small-fade">Branding</h2>
						</div>
					</div>
					<hr class="major" />
				<!-- Documents in Progress -->
					<h4>In Progress</h4>
					<div class="table-wrapper">
						<table class="vertical-border">
							<thead>
								<tr>
									<th>Paper</th>
									<th>Status</th>
									<th>Submitted</th>
									<th>Date Accepted</th>
									<th>Duration</th>
									<th>No.</th>
									<th>Rev. ID</th>
									<th>Doc #</th>
								</tr>
							</thead>
							<tbody>
								<% for(let i=0; i<inProgress.length; i++) {%>
									<tr>
										<td><a href="<%= inProgress[i].document %>" target="_blank"><%= inProgress[i].title %></a></td>
										<td class="centerElement"><%= inProgress[i].status %></td>
										<td class="centerElement"><%= inProgress[i].submitted ? inProgress[i].submitted.toLocaleDateString('en-us') : "" %></td>
										<td class="centerElement"><%= inProgress[i].reviewAccepted  ? inProgress[i].reviewAccepted.toLocaleDateString('en-us') : ""  %></td>
										<td class="centerElement"><%= inProgress[i].duration ? `${inProgress[i].duration} day(s)` : ""%> </td>
										<td class="centerElement"><%= inProgress[i].number %></td>
										<td class="centerElement"><%= inProgress[i].reviewerID %></td>
										<td class="centerElement"><%= inProgress[i].manuscriptNumber %></td>
									</tr>
								
								<% } %>
								
							</tbody>
						</table>
					</div>
				<!-- Completed Reviews -->
					<h4>Completed Reviews</h4>
					<div class="table-wrapper">
						<table class="vertical-border">
							<thead>
								<tr>
									<th>Paper</th>
									<th>Review</th>
									<th>Submitted</th>
									<th>Reviewed</th>
									<th>Duration</th>
									<th>No.</th>
									<th>Rev. ID</th>
									<th>Rev. Rating</th>
									<th>Author Rates Review</th>
								</tr>
							</thead>
							<tbody>
								<% let numberOfReviews = 0 %>
								<% for(var i=0; i<papersReviewed.length; i++) {%>
									<% for(var j=0; j<papersReviewed[i].reviews.length; j++) {%>
										<% if(papersReviewed[i].reviews[j].reviewCompleted) {%>
											<% numberOfReviews++ %>
											<% let reviewAccepted = new Date(papersReviewed[i].reviews[j].reviewAccepted) %>
											<% let reviewCompleted = new Date(papersReviewed[i].reviews[j].reviewCompleted) %>
											<tr>
												<td><a href="<%= papersReviewed[i].document %>" target="_blank"><%= papersReviewed[i].title %></a></td>
												<td class="centerElement"><a href="<%= papersReviewed[i].reviews[j].document %>" target="_blank">Review</a></td>
												<td class="centerElement"><%= papersReviewed[i].createdAt.toLocaleDateString('en-us') %></td>
												<td><%= reviewCompleted.toLocaleDateString('en-us') %></td>
												<td class="centerElement"><%= Math.floor((reviewAccepted - reviewCompleted) / (-1000 * 60 * 60 * 24)) %> day(s)</td>
												<td class="centerElement"><%= `${j + 1} / ${papersReviewed[i].reviewsRequested}` %></td>
												<td class="centerElement"><%= papersReviewed[i].reviews[j].reviewerID %></td>
												<td class="centerElement">To Do</td>
												<td class="centerElement">To Do</td>
											</tr>
										<% } %>
									<% } %>
								<% } %>
							</tbody>
						</table>
				<!-- Life Time Stats -->
						<h4>Lifetime Stats</h4>
						<div class="table-wrapper">
							<table class="vertical-border skinny">
								<thead>
									<tr>
										<th>Paper Submitted</th>
										<th>Reviews Received</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="centerElement"><%= submitted %></td>
										<td class="centerElement"><%= numberOfReviews %></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
