<!-- Head -->
	<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				<!-- Banner -->
					<h2 id="elements">As Author</h2>
					<div class="row gtr-200">
						<div class="col-6 col-12-small">
							<a href="/papers/submit" class="button primary large">Submit A Paper</a>
						</div>
						<div class="col-6 col-12-small">
							<h2 class="right-small-fade">Branding</h2>
						</div>
					</div>
					<hr class="major" />
				<!-- Documents in Progress -->
					<h4>In Progress</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Manuscript Number</th>
									<th>Status</th>
									<th>Title</th>
									<th>Date Submitted</th>
									<th>Review Accepted</th>
									<th>Reviewer ID#</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<papersInProgress.length; i++) {%>
									<tr>
										<td><%= papersInProgress[i].manuscriptNumber %></td>
										<td><%= papersInProgress[i].status %></td>
										<td><a href="<%= papersInProgress[i].document %>" target="_blank"><%= papersInProgress[i].title %></a></td>
										<td><%= papersInProgress[i].createdAt.toLocaleDateString('en-us') %></td>
										<td><%= papersInProgress[i].reviewAccepted ? papersInProgress[i].reviewAccepted.toLocaleDateString('en-us') : '' %></td>
										<td><%= papersInProgress[i].reviewerID ? papersInProgress[i].reviewerID : '' %></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				<!-- Life Time Stats -->
					<h4>Lifetime Stats</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Paper Submitted</th>
									<th>Reviews Received</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= submitted %></td>
									<td><%= reviews %></td>
								</tr>
							</tbody>
						</table>
					</div>
				<!-- Completed Reviews -->
					<h4>Completed Reviews</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Manuscript Number</th>
									<th>Article Title</th>
									<th>Article Type</th>
									<th>Submitted</th>
									<th>Reviewed</th>
									<th>Time of Review</th>
									<th>Review</th>
									<th>Reviewer ID#</th>
									<th>Reviewer's Rating</th>
									<th>Author Rates Review</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<papersReviewed.length; i++) {%>
									<tr>
										<td><%= papersReviewed[i].manuscriptNumber %></td>
										<td><a href="<%= papersReviewed[i].document %>"><%= papersInProgress[i].title %></a></td>
										<td><%= papersReviewed[i].type %></td>
										<td><%= papersReviewed[i].createdAt.toLocaleDateString('en-us') %></td>
										<td><%= papersReviewed[i].reviewAccepted.toLocaleDateString('en-us') %></td>
										<td><%= Math.floor((papersReviewed[i].reviewAccepted - papersReviewed[i].reviewCompleted) / (-1000 * 60 * 60 * 24)) %> day(s)</td>
										<td><a href="<%= papersReviewed[i].documentReview %>">Review</a></td>
										<td><%= papersReviewed[i].reviewerID %></td>
										<td>To Do</td>
										<td>To Do</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
