<!-- Head -->
	<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				<!-- Banner -->
					<h2 id="elements" class="centerElement">As Author</h2>
					<div class="row gtr-200">
						<div class="col-6 col-12-small">
							<a href="/papers/submit" class="button primary large">Submit A Paper</a>
						</div>
						<div class="col-6 col-12-small">
							<h2 class="right-small-fade">Branding</h2>
						</div>
					</div>
					<hr class="major" />
				<!-- Documents in Progress -->
					<h4>In Progress</h4>
					<div class="table-wrapper">
						<table class="vertical-border">
							<thead>
								<tr>
									<!-- <th>Manuscript Number</th>
									<th>Title</th>
									<th>Date Submitted</th>
									<th>Status</th>
									<th>Review Number</th>
									<th>Review Accepted</th>
									<th>Reviewer ID#</th> -->
									
									<th>Paper</th>
									<th>Status</th>
									<th>Submitted</th>
									<th>Date Accepted</th>
									<th>Duration</th> <!--new-->
									<th>Review</th>
									<th>Reviewer ID#</th>
									<th>Doc #</th>
								</tr>
							</thead>
							<tbody>
								<% for(let i=0; i<papersInProgress.length; i++) {%>
									<!-- If there are any reviews  -->
									<% if(papersInProgress[i].reviews.length) { %>
										<% for(let j=0; j<papersInProgress[i].reviewsRequested; j++) { %>
											<!-- If there's no reveiw or there's no document -->
											<% if(!papersInProgress[i].reviews[j] || !papersInProgress[i].reviews[j].document) { %>
												<tr>
													<td><a href="<%= papersInProgress[i].document %>" target="_blank"><%= papersInProgress[i].title %></a></td>
													<!-- At least one review has been assgined -->
													<% if(j < papersInProgress[i].reviews.length) { %>
														<% let reviewAccepted = new Date(papersInProgress[i].reviews[j].reviewAccepted) %>
														<td><%= papersInProgress[i].status %></td>
														<td class="centerElement"><%= papersInProgress[i].createdAt.toLocaleDateString('en-us') %></td>
														<td class="centerElement"><%= reviewAccepted ? reviewAccepted.toLocaleDateString('en-us') : '' %></td>
														<td class="centerElement"><%= `${Math.floor(((new Date()) - reviewAccepted) / (1000 * 60 * 60 * 24))} day(s)`%></td>
														<td class="centerElement"><%= `${j + 1} / ${papersInProgress[i].reviewsRequested}` %></td>
														<td class="centerElement"><%= papersInProgress[i].reviews[j].reviewerID ? papersInProgress[i].reviews[j].reviewerID : '' %></td>
													<!-- No reviews have been assigned -->
													<% } else {%>
														<td>Awaiting Reviewer</td>
														<td class="centerElement"><%= papersInProgress[i].createdAt.toLocaleDateString('en-us') %></td>
														<td></td>
														<td></td>
														<td class="centerElement"><%= `${j + 1} / ${papersInProgress[i].reviewsRequested}` %></td>
														<td></td>
													<% } %>
													<td class="centerElement"><%= papersInProgress[i].manuscriptNumber %></td>
												</tr>
											<% } %>
										<% } %>
									<!-- There are no reviews -->
									<% } else { %>
										<tr>
											<td><a href="<%= papersInProgress[i].document %>" target="_blank"><%= papersInProgress[i].title %></a></td>
											<td><%= papersInProgress[i].status %></td>
											<td class="centerElement"><%= papersInProgress[i].createdAt.toLocaleDateString('en-us') %></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td class="centerElement"><%= papersInProgress[i].manuscriptNumber %></td>
										</tr>
									<% } %>
								<% } %>
							</tbody>
						</table>
					</div>
				<!-- Completed Reviews -->
					<h4>Completed Reviews</h4>
					<div class="table-wrapper">
						<table class="vertical-border">
							<thead>
								<tr>
									<!-- <th>Manuscript Number</th>
									<th>Article Title</th>
									<th>Review Number</th>
									<th>Submitted</th>
									<th>Reviewed</th>
									<th>Time of Review</th>
									<th>Review</th>
									<th>Reviewer ID#</th>
									<th>Reviewer's Rating</th>
									<th>Author Rates Review</th> -->
									
									1<th>Paper</th>
									2<th>Review</th>
									3<th>Submitted</th>
									4<th>Reviewed</th>
									5<th>Time of Review</th>
									6<th>Review Number</th>
									7<th>Reviewer ID#</th>
									8<th>Reviewer's Rating</th>
									9<th>Author Rates Review</th>
								</tr>
							</thead>
							<tbody>
								<% let numberOfReviews = 0 %>
								<% for(var i=0; i<papersReviewed.length; i++) {%>
									<% for(var j=0; j<papersReviewed[i].reviews.length; j++) {%>
										<% if(papersReviewed[i].reviews[j].reviewCompleted) {%>
											<% numberOfReviews++ %>
											<% let reviewAccepted = new Date(papersReviewed[i].reviews[j].reviewAccepted) %>
											<% let reviewCompleted = new Date(papersReviewed[i].reviews[j].reviewCompleted) %>
											<tr>
												1<td><a href="<%= papersReviewed[i].reviews[j].document %>"><%= papersReviewed[i].title %></a></td>
												2<td class="centerElement"><a href="<%= papersReviewed[i].reviews[j].document %>" target="_blank">Review</a></td>
												3<td class="centerElement"><%= papersReviewed[i].createdAt.toLocaleDateString('en-us') %></td>
												4<td><%= reviewCompleted.toLocaleDateString('en-us') %></td>
												5<td class="centerElement"><%= Math.floor((reviewAccepted - reviewCompleted) / (-1000 * 60 * 60 * 24)) %> day(s)</td>
												6<td class="centerElement"><%= `${j + 1} / ${papersReviewed[i].reviewsRequested}` %></td>
												7<td class="centerElement"><%= papersReviewed[i].reviews[j].reviewerID %></td>
												<td class="centerElement">To Do</td>
												<td class="centerElement">To Do</td>
											</tr>
										<% } %>
									<% } %>
								<% } %>
							</tbody>
						</table>
				<!-- Life Time Stats -->
						<h4>Lifetime Stats</h4>
						<div class="table-wrapper">
							<table class="vertical-border skinny">
								<thead>
									<tr>
										<th>Paper Submitted</th>
										<th>Reviews Received</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="centerElement"><%= submitted %></td>
										<td class="centerElement"><%= numberOfReviews %></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
