<!-- Head -->
<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Banner -->
	<section id="banner">
		<div class="inner greyBox">
			<h2 class="major special">Paper Review</h2>
			<p>Sign up to get your paper reviewed, or become a reviewer</p>
			<ul class="actions special stacked">
				<li><a href="/signup" class="button primary large">Sign Up</a></li>
				<li><a href="#two" class="button large scrolly">Learn more</a></li>
			</ul>
		</div>
	</section>

		
<!-- Two -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="images/author.jpg" alt="" /></div>
			<div class="content">
				<h3 class="major">Authors</h3>
				<p>As an author you can upload your paper and pay to get it reviewed by one of the reviewers on this site.  You'll be notified when a reviewer has choosen to review your paper and get feedback on it when they're done.</p>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/reviewer.jpg" alt="" /></div>
			<div class="content">
				<h3 class="major">Reviewers</h3>
				<p>As a verfied reviewer you'll review papers in your field of experise and get paid for doing so.  User selected email notifications come in when there's a paper that fits your criteria and you'll have the option to select which papers you want to get review and get paid for.</p>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/payment.jpg" alt="" /></div>
			<div class="content">
				<h3 class="major">Payment</h3>
				<p>Authors pay for reviews when they send papers out for reviews.  Reviewers receieve payment after they have successfully reviewed a paper.</p>
			</div>
		</section>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style1 special">
		<div class="inner narrow">
			<h3 class="major special">Sed Lacus Bibendum</h3>
			<p>Sagittis mauris hendrerit vitae feugiat etiam ante elementum vulputate faucibus convallis bibendum ligula.</p>
			<ul class="actions special">
				<li><a href="#" class="button primary large">Get started</a></li>
			</ul>
		</div>
	</section>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
