<!-- Head -->
	<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				
				<!-- Banner -->
					<div class="row gtr-200">
						<div class="col-6 col-12-small">
							<h2>Papers Available for Review</h2>
						</div>
						<div class="col-6 col-12-small">
							<h2 class="right-small-fade">Branding</h2>
						</div>
					</div>

					<hr class="major" />
					
				<!-- Table of Available Documents to Review -->	
					<div class="table-wrapper">
						<table class="vertical-border">
							<thead>
								<tr>
									<th class="centerElement">Paper</th>
									<th class="centerElement">Discipline</th>
									<th class="centerElement">Key Words</th>
									<th class="centerElement">Date Submitted</th>
									<th class="centerElement"></th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<papers.length; i++) {%>
									<tr>
										<td><%= papers[i].title %></td>
										<td><%= papers[i].discipline %></td>
										<td class="centerElement"><%= papers[i].keywords %></td>
										<td class="centerElement"><%= papers[i].createdAt.toLocaleDateString('en-us') %></td>
										<td class="centerElement"><a href="/papers/paper/<%= papers[i].manuscriptNumber %>">Review</a>
										</td>
									</tr>
									<% } %>
							</tbody>
						</table>
					</div>
			</div>
		</div>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
