<!-- Head -->
<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">

				<!-- Elements -->
					<h2 id="elements">As Reviewer</h2>
					<div class="row gtr-200">
						<div class="col-6 col-12-small">
							<a href="/papers" class="button primary large">Review A Paper</a>
						</div>
						<div class="col-6 col-12-small">
							<h2 class="right-small-fade">Branding</h2>
						</div>
					</div>
					<hr class="major" />
					<h4>In Progress</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Manuscript Number</th>
									<th>Date Accepted</th>
									<th>Time Since Accepted</th>
									<th>Review Template</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1749-084</td>
									<td>10/2/22</td>
									<td>25 days</td>
									<td>Link to review template</td>
								</tr>
								<tr>
									<td>1748-544</td>
									<td>10/17/22</td>
									<td>10 days</td>
									<td>Link to review template</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Lifetime Stats</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Invitations</th>
									<th>Reviews Completed</th>
									<th>Average time of review</th>
									<th>Reviewer star rating</th>
									<th>Lifetime earnings</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>84</td>
									<td>5</td>
									<td>4.8 days</td>
									<td>4.2</td>
									<td>$200</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Completed Reviews</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Manuscript Number</th>
									<th>Article Type</th>
									<th>Article Title</th>
									<th>Review Accepted</th>
									<th>Reviewed</th>
									<th>Time of Review</th>
									<th>Review</th>
									<th>Author Rating</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1749-084</td>
									<td>Original</td>
									<td>Testing Layouts in Mobile and Desktop</td>
									<td>10/20/22</td>
									<td>10/22/22</td>
									<td>2 days</td>
									<td>Review Link</td>
									<td>4.3</td>
								</tr>
								<tr>
									<td>1748-544</td>
									<td>Original</td>
									<td>Philosophical Musings on website deisgn</td>
									<td>10/19/22</td>
									<td>10/22/22</td>
									<td>3 days</td>
									<td>Review Link</td>
									<td>4.5</td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>
	</article>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section class="about">
						<h4 class="major">Magna Aliquam Feugiat</h4>
						<p>Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit vitae. In feugiat ante elementum nulla arcu. Maecenas vulputate faucibus, convallis ligula ipsum dolor feugiat tempus adipiscing.</p>
						<ul class="actions">
							<li><a class="button">Learn more</a></li>
						</ul>
					</section>
					<section class="contact-info">
						<h4 class="major">Get in Touch</h4>
						<ul class="contact">
							<li class="icon solid fa-phone">(000) 000-0000</li>
							<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
							<li class="icon brands fa-twitter"><a href="#">@untitled-tld</a></li>
							<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled</a></li>
						</ul>
						<ul class="contact">
							<li class="icon solid fa-home">Untitled Corp<br />1234 Fictional Road<br />Suite 5432<br />Nashville, TN 00000<br />USA</li>
						</ul>
					</section>
				</div>
				<div class="copyright">
					<p>&copy; Untitled Corp. All rights reserved.</p>
				</div>
			</footer>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
