<!-- Head -->
<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">

				<!-- Elements -->
					<h2 id="elements" class="centerElement">As Reviewer</h2>
					<div class="row gtr-200">
						<div class="col-6 col-12-small">
							<a href="/papers" class="button primary large">Review A Paper</a>
						</div>
						<div class="col-6 col-12-small">
							<h2 class="right-small-fade">Branding</h2>
						</div>
					</div>
					<hr class="major" />
					<h4>In Progress</h4>
					<div class="table-wrapper">
						<table class="vertical-border">
							<thead>
								<tr>
									<th>Paper</th>
									<th>Date Accepted</th>
									<th>Review Due</th>
									<th>Deadline In</th>
									<th>Review Template</th>
									<th class="centerElement">Submit Review</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<papersUnderReview.length; i++) {%>
									<% let reviewAccepted = new Date(papersUnderReview[i].reviews[reviewLookupUnderReview[i]].reviewAccepted) %>
									<% let reviewDue = new Date(reviewAccepted) %>
									<% reviewDue.setDate(reviewAccepted.getDate() + 7) %>
									<tr>
										<td><a href="<%= papersUnderReview[i].document %>" target="_blank"><%= papersUnderReview[i].title %></a></td>
										<td class="centerElement"><%= reviewAccepted.toLocaleDateString('en-us') %></td>
										<td class="centerElement"><%= reviewDue.toLocaleDateString('en-us') %></td>
										<td class="centerElement"><%= Math.floor((reviewDue - Date.now()) / (1000 * 60 * 60 * 24)) %> day(s)</a></td>
										<td class="centerElement">Download</td>
										<td>
											<form action="/papers/submitReview/<%= papersUnderReview[i].manuscriptNumber %>" enctype="multipart/form-data" method="POST" class="tableForm flex">
												<input type="submit" value="Submit" class="submitMinor"/>
												<input type="file" id="imageUpload" name="file" class="submitInput">
											</form>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<h4>Lifetime Stats</h4>
					<div class="table-wrapper">
						<table class="vertical-border">
							<thead>
								<tr>
									<th>Invitations</th>
									<th>Reviews Completed</th>
									<th>Average time of review</th>
									<th>Reviewer star rating</th>
									<th>Lifetime earnings</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>To Do</td>
									<td>To Do</td>
									<td>To Do</td>
									<td>To Do</td>
									<td>$To Do</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Completed Reviews</h4>
					<div class="table-wrapper">
						<table class="vertical-border">
							<thead>
								<tr>
									<th>Paper</th>
									<th>Review Accepted</th>
									<th>Review Completed</th>
									<th>Time of Review</th>
									<th>Review</th>
									<th>Author Rating</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<papersReviewed.length; i++) {%>
									<% let reviewedAccepted = new Date(papersReviewed[i].reviews[reviewLookupReviewed[i]].reviewAccepted) %>
									<% let reviewedCompleted = new Date(papersReviewed[i].reviews[reviewLookupReviewed[i]].reviewCompleted) %>
									<tr>
										<td><%= papersReviewed[i].title %></td>
										<td class="centerElement"><%= reviewedAccepted.toLocaleDateString('en-us') %></td>
										<td class="centerElement"><%= reviewedCompleted.toLocaleDateString('en-us') %></td>
										<td class="centerElement"><%= Math.floor((reviewedAccepted - reviewedCompleted) / (-1000 * 60 * 60 * 24)) %> day(s)</a></td>
										<td class="centerElement"><a href="<%= papersReviewed[i].reviews[reviewLookupReviewed[i]].document %>" target="_blank">Review</a></td>
										<td><%= papersReviewed[i].reviews[reviewLookupReviewed[i]].reviewRating %>To Do</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
			</div>
		</div>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
