<!-- Head -->
<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">

				<!-- Elements -->
					<h2 id="elements">As Reviewer</h2>
					<div class="row gtr-200">
						<div class="col-6 col-12-small">
							<a href="/papers" class="button primary large">Review A Paper</a>
						</div>
						<div class="col-6 col-12-small">
							<h2 class="right-small-fade">Branding</h2>
						</div>
					</div>
					<hr class="major" />
					<h4>In Progress</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Manuscript Number</th>
									<th>Title</th>
									<th>Date Accepted</th>
									<th>Time Since Accepted</th>
									<th>Review Template</th>
									<th>Submit Review</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<papersUnderReview.length; i++) {%>
									<tr>
										<td><%= papersUnderReview[i].manuscriptNumber %></td>
										<td><%= papersUnderReview[i].title %></td>
										<td><%= papersUnderReview[i].reviewAccepted.toLocaleDateString('en-us') %></td>
										<td><%= Math.floor((papersUnderReview[i].reviewAccepted - Date.now()) / (-1000 * 60 * 60 * 24)) %> day(s)</a></td>
										<td>Download</td>
										<td>
											<form action="/papers/submitReview/<%= papersUnderReview[i].manuscriptNumber %>" enctype="multipart/form-data" method="POST" class="tableForm flex">
												<input type="submit" value="Submit" class="submitMinor"/>
												<input type="file" id="imageUpload" name="file" class="submitInput">
											</form>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<h4>Lifetime Stats</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Invitations</th>
									<th>Reviews Completed</th>
									<th>Average time of review</th>
									<th>Reviewer star rating</th>
									<th>Lifetime earnings</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>84</td>
									<td>5</td>
									<td>4.8 days</td>
									<td>4.2</td>
									<td>$200</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Completed Reviews</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Manuscript Number</th>
									<th>Article Type</th>
									<th>Article Title</th>
									<th>Review Accepted</th>
									<th>Reviewed</th>
									<th>Time of Review</th>
									<th>Review</th>
									<th>Author Rating</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<papersReviewed.length; i++) {%>
									<tr>
										<td><%= papersReviewed[i].manuscriptNumber %></td>
										<td><%= papersReviewed[i].type %></td>
										<td><%= papersReviewed[i].title %></td>
										<td><%= papersReviewed[i].createdAt.toLocaleDateString('en-us') %></td>
										<td><%= papersReviewed[i].reviewAccepted.toLocaleDateString('en-us') %></td>
										<td><%= Math.floor((papersReviewed[i].reviewAccepted - Date.now()) / (-1000 * 60 * 60 * 24)) %> day(s)</a></td>
										<td><a href="<%= papersReviewed[i].documentReview %>">Review</a></td>
										<td>To Do</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
			</div>
		</div>
	</article>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section class="about">
						<h4 class="major">Magna Aliquam Feugiat</h4>
						<p>Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit vitae. In feugiat ante elementum nulla arcu. Maecenas vulputate faucibus, convallis ligula ipsum dolor feugiat tempus adipiscing.</p>
						<ul class="actions">
							<li><a class="button">Learn more</a></li>
						</ul>
					</section>
					<section class="contact-info">
						<h4 class="major">Get in Touch</h4>
						<ul class="contact">
							<li class="icon solid fa-phone">(000) 000-0000</li>
							<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
							<li class="icon brands fa-twitter"><a href="#">@untitled-tld</a></li>
							<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled</a></li>
						</ul>
						<ul class="contact">
							<li class="icon solid fa-home">Untitled Corp<br />1234 Fictional Road<br />Suite 5432<br />Nashville, TN 00000<br />USA</li>
						</ul>
					</section>
				</div>
				<div class="copyright">
					<p>&copy; Untitled Corp. All rights reserved.</p>
				</div>
			</footer>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
