<!-- Head -->
<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				<!-- Elements -->
					<h2 id="elements">Submit a Paper</h2>
						<form action="/papers/submit" enctype="multipart/form-data" method="POST">
							<div class="row gtr-uniform">
								<div class="col-6 col-12-xsmall">
									<input type="text" name="title" id="title" value="" placeholder="Paper Title" />
								</div>
								<div class="col-6 col-12-xsmall">
									<select name="type" id="type">
										<option value="">- Paper Type -</option>
										<option value="Original">Original</option>
										<option value="Non-Original">Non-Original</option>
									</select>
								</div>
								<!-- Break -->
								<div class="col-12">
									<select name="category" id="category">
										<option value="">- Category -</option>
										<option value="1">Manufacturing</option>
										<option value="1">Shipping</option>
										<option value="1">Administration</option>
										<option value="1">Human Resources</option>
									</select>
								</div>
								<!-- Break -->
								<div class="col-12">
									<input type="file" id="imageUpload" name="file">
								</div>
								<!-- Break -->
								<div class="col-4 col-12-small">
									<input type="radio" id="priority-low" name="priority" checked>
									<label for="priority-low">Low Priority</label>
								</div>
								<div class="col-4 col-12-small">
									<input type="radio" id="priority-normal" name="priority">
									<label for="priority-normal">Normal Priority</label>
								</div>
								<div class="col-4 col-12-small">
									<input type="radio" id="priority-high" name="priority">
									<label for="priority-high">High Priority</label>
								</div>
								
								<!-- Break -->
								<div class="col-12">
									<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
								</div>
								<!-- Break -->
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</div>
						</form>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
	