<!-- Head -->
<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				<!-- Elements -->
					<h2 id="elements" class="centerElement">Submit a Paper</h2>
						<form action="/papers/submit" enctype="multipart/form-data" method="POST">
							<div class="row gtr-uniform">
								<div class="col-6 col-12-xsmall">
									<label for="title">Paper Title</label>
									<input type="text" name="title" id="title" value="" placeholder="Paper Title" />
								</div>
								<div class="col-6 col-12-xsmall">
								  <label for="discipline">Paper Discipline</label>
								  <select name="discipline" id="discipline">
									<option value="">- Discipline -</option>
									<option value="Africana Studies">Africana Studies</option>
									<option value="Anthropology">Anthropology</option>
									<option value="Art History">Art History</option>
									<option value="Biology">Biology</option>
									<option value="Business">Business</option>
									<option value="Chemistry">Chemistry</option>
									<option value="Classics">Classics</option>
									<option value="Communications">Communications</option>
									<option value="Comparative Literature">Comparative Literature</option>
									<option value="Computer Science">Computer Science</option>
									<option value="Dance">Dance</option>
									<option value="Data Science">Data Science</option>
									<option value="Earth and Environmental Sciences">Earth and Environmental Sciences</option>
									<option value="Economics">Economics</option>
									<option value="Education">Education</option>
									<option value="English">English</option>
									<option value="Geology">Geology</option>
									<option value="History">History</option>
									<option value="Law">Law</option>
									<option value="Language and Culture">Language and Culture</option>
									<option value="Linguistics">Linguistics</option>
									<option value="Mathematics">Mathematics</option>
									<option value="Music">Music</option>
									<option value="Philosophy">Philosophy</option>
									<option value="Physics">Physics</option>
									<option value="Political Science">Political Science</option>
									<option value="Psychology">Psychology</option>
									<option value="Public Policy">Public Policy</option>
									<option value="Religious Studies">Religious Studies</option>
									<option value="Sociology">Sociology</option>
									<option value="Theater and Performance">Theater and Performance</option>
								  </select>
								</div>
								<!-- Break -->
								<div class="col-6 col-12-xsmall">
									<label for="description">Paper Description / Abstract</label>
									<textarea name="description" id="description" placeholder="50-250 Words" rows="3" maxlength="250" minlength="50"></textarea>
								</div>
								<div class="col-6 col-12-xsmall">
									<label for="keywords">Keywords (comma separated)</label>
									<textarea name="keywords" id="keywords" placeholder="Keyword one, keyword two" rows="3" maxlength="50"></textarea>
								</div>
								<!-- Break -->
								<div class="col-6 col-12-xsmall">
									<label for="feedback">Specific Feedback Requested?</label>
									<textarea name="feedback" id="feedback" placeholder="Specific feedback requests" rows="3" maxlength="150"></textarea>
								</div>
								<div class="col-6 col-12-xsmall">
									<label for="reviews">Number of Reviews Requested</label>
									<select name="reviews" id="reviews">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</div>
								<!-- Break -->
								<div class="col-12">
									<label for="imageUpload">Upload File: PDF Only</label>
									<input type="file" id="imageUpload" name="file">
								</div>
								<!-- Break -->
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Submit Paper" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</div>
						</form>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>
	