<!-- Head -->
	<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				<!-- Elements -->
					<div class="row gtr-200">
						<div class="col-6 col-12-medium">
							
							<!-- Banner -->
								<header>
									<h2><a href="/user/author">As Author</a></h2>
									<p>Information regarding your paper submissions</p>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
								
							<!-- Table of Auther Documents -->
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Manuscript Number</th>
												<th>Status</th>
												<th>Date of Last Change</th>
												<th>Article Type</th>
												<th>Article Title</th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<papersSubmited.length; i++) {%>
												<tr>
													<td><%= papersSubmited[i].manuscriptNumber %></td>
													<td><%= papersSubmited[i].status %></td>
													<td>
														<% if(papersSubmited[i].reviewCompleted) { %> 
															<%= papersSubmited[i].reviewCompleted.toLocaleDateString('en-us') %> 
														<% } else if(papersSubmited[i].reviewAccepted) {%>
															<%= papersSubmited[i].reviewAccepted.toLocaleDateString('en-us') %> 
														<% } else {%>
															<%= papersSubmited[i].createdAt.toLocaleDateString('en-us') %> 
														<% } %>
													</td>
													<td><%= papersSubmited[i].type %></td>
													<td><a href="<%= papersSubmited[i].document %>"><%= papersSubmited[i].title %></a></td>
												</tr>
											<% } %>
										</tbody>
										
									</table>
								</div>
						
						</div>
						<div class="col-6 col-12-medium">
							
							<!-- Banner -->
								<header>
									<h2><a href="/user/reviewer">As Reviewer</a></h2>
									<p>Information regarding the paper's you have reviewed</p>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
						
							<!-- Table of Auther Documents -->	
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Manuscript Number</th>
												<th>Current Status</th>
												<th>Article Type</th>
												<th>Article Title</th>
												<th>Date Review Due</th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<papersUnderReview.length; i++) {%>
												<tr>
													<td><%= papersUnderReview[i].manuscriptNumber %></td>
													<td><%= papersUnderReview[i].status %></td>
													<td><%= papersUnderReview[i].type %></td>
													<td><a href="<%= papersSubmited[i].document %>"><%= papersSubmited[i].title %></a></td>
													<td><%= papersUnderReview[i].reviewAccepted.toLocaleDateString('en-us') + 7 %></td>
												</tr>
											<% } %>
										</tbody>
									</table>
								</div>
						</div>
					</div>
				</div>
			</div>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>