<!-- Head -->
	<%- include('partials/head') -%>

<!-- Header -->
	<%- include('partials/header') -%>

<!-- Menu -->
	<%- include('partials/nav') -%>

<!-- Main -->
	<article id="main">
		<div class="wrapper">
			<div class="inner">
				<!-- Elements -->
					<div class="row">
						<div class="col-6 col-12-medium">
							
							<!-- Banner -->
								<header>
									<h2><a href="/user/author">As Author</a></h2>
									<div class="row gtr-200">
										<div class="col-6 ">
											<a href="/papers/submit" class="button primary ">Submit A Paper</a>
										</div>
										<div class="col-6 ">
											<a href="/user/author" class="button "><u>Author Home</u></a>
										</div>
									</div>
								</header>
								
								</br>
							<!-- Author Stats -->
								<h3>Lifetime</h3>
								<div class="table-wrapper">
									<table class="vertical-border centerElement">
										<tbody>
											<tr>
												<td>Reviews Received</td>
												<td><%= numberOfReviews %></td>
												<td>Avg Days/Review</td>
												<% let avg = reviewTime ? new Date(reviewTime) : 0 %>
												<td><%= avg ? avg.getDay() : "-"%> </td>
											</tr>
											<tr>
												<td>Papers Submitted</td>
												<td><%= submitted %></td>
												<td>Months Saved</td>
												<td><%= numberOfReviews * 2 %></td>
											</tr>
										</tbody>
									</table>
								</div>
								

							<!-- Table of Author Documents -->
								<h3>In Progress</h3>
								<div class="table-wrapper">
									<table class="vertical-border">
										<thead>
											<tr>
												<th>Paper</th>
												<th>Status</th>
												<th>Rev ID</th>
												<th>Due</th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<inProgress.length; i++) {%>
												<tr>
													<td><a href="<%= inProgress[i].document %>" target="_blank"><%= inProgress[i].title %></a></td>
													<td class="centerElement"><%= inProgress[i].status %></td>
													<td class="centerElement"><%= inProgress[i].reviewerID %></td>
													<td class="centerElement"><%= inProgress[i].reviewAccepted ? new Date(inProgress[i].reviewAccepted + 1000*60*60*24*7).toLocaleDateString('en-us') : "" %></td>
												</tr>
											<% } %>
										</tbody>
										
									</table>
								</div>
						
						</div>
						<div class="col-6 col-12-medium">
							
							<!-- Banner -->
								<header>
									<h2><a href="/user/reviewer">As Reviewer</a></h2>
									<div class="row gtr-200">
										<div class="col-6 ">
											<a href="/papers" class="button primary ">Review A Paper</a>
										</div>
										<div class="col-6 ">
											<a href="/user/reviewer" class="button "><u>Reviewer Home</u></a>
										</div>
									</div>
								</header>								
								</br>

							<!-- Reviewer Stats -->
								<h3>Lifetime</h3>
								<div class="table-wrapper">
									<table class="vertical-border centerElement">
										<tbody>
											<tr>
												<td>Reviews Completed</td>
												<td><%= reviewsCompleted %></td>
												<td>Avg Days/Review</td>
												<% let avgCompleted = reviewCompleteTime ? new Date(reviewCompleteTime) : 0 %>
												<td><%= avgCompleted ? `${avgCompleted.getDay()} day(s)` : "-" %></td>
											</tr>
											<tr>
												<td>Rating</td>
												<td>4.7 / 5</td>
												<td>Lifetime Earnings</td>
												<td>$To Do</td>
											</tr>
											<tr>
										</tbody>
									</table>
								</div>
							<!-- Table of Reviewer Documents -->	
								<h3>In Progress</h3>
								<div class="table-wrapper">
									<table class="vertical-border">
										<thead>
											<tr>
												<th>Paper</th>
												<th>Due</th>
												<th>Template</th>
												<th>Submit Review</th>
											</tr>
										</thead>
										<tbody>
											<% for(let i=0; i<papersUnderReview.length; i++) {%>
												<% for(let j=0; j<papersUnderReview[i].reviews.length; j++) {%>
													<% if(user.reviewerID === papersUnderReview[i].reviews[j].reviewerID && !papersUnderReview[i].reviews[j].document) {%>
														<% let reviewAccepted = new Date(papersUnderReview[i].reviews[j].reviewAccepted) %>
														<% reviewDue = new Date(reviewAccepted.setDate(reviewAccepted.getDate() + 7)) %>
														<tr>
															<td><a href="<%= papersUnderReview[i].document %>" target="_blank"><%= papersUnderReview[i].title %></a></td>
															<td class="centerElement"><%= reviewDue.toLocaleDateString('en-us') %></td>
															<td>To Do</td>
															<td>
																<form action="/papers/submitReview/<%= papersUnderReview[i].manuscriptNumber %>" enctype="multipart/form-data" method="POST" class="tableForm flex">
																	<input type="submit" value="Submit" class="submitMinor"/>
																	<input type="file" id="imageUpload" name="file" class="submitInput">
																</form>
															</td>
														</tr>
													<% } %>
												<% } %>
											<% } %>
										</tbody>
									</table>
								</div>
						</div>
					</div>
				</div>
			</div>
	</article>

<!-- Footer -->
	<%- include('partials/footer') -%>

<!-- Scripts & Close -->
	<%- include('partials/scripts') -%>